body{
    margin: 0;
    padding: 0;
}
header{
    border-bottom: 1px solid #bebcbc;
    padding: 5px 0;
    background-color: #fff;
}
.color-primary{
    color: #4e0070;
}
.color-secondary{
    color: #4c79d3;
}
#login{
    background: linear-gradient(120deg, #FF8400 44.9%, #ffffff 45%) no-repeat fixed;
}
#app{
    background: linear-gradient(120deg, #fff 44.9%, #FF8400 45%) no-repeat fixed;
}
.menu{
    margin-right: 20px;
}
.text-login{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
}
.coins{
    position: absolute;
    bottom: 100px;
}
.button-login{
    background-color: #4e0070 !important;
    border-radius: 10px;
    color: #fff !important;
    width: 50%;
    margin: 0 25%;
}
.button-login:hover, .button-defaut:hover{
    background-color: #4c79d3 !important;
}
.link-defaut{
    color: #4e0070;
    text-decoration: none;
}
.link-defaut:hover{
    color: #4c79d3;
    cursor: pointer;
}
.icon-detail{
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
.info{
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px 0px;
}
.button-defaut{
    border-radius: 10px;
    background-color: #4e0070 !important;
    color: #fff !important;
}
.button-cancel{
    border-radius: 10px;
}
.button-float{
    border-radius: 100% !important;
    height: 60px;
    width: 60px;
    padding: 0px !important;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px !important;
    background-color: #4e0070 !important;
    color: #fff !important;
    border: 2px solid #4e0070;
}
.button-float:hover{
    border: 2px solid #4c79d3 !important;
    background-color: #fff !important;
    color: #4c79d3 !important;
}
.logout{
    min-width: 5rem !important;
}